.btn {
  border: 1px solid black;
  outline: none;
  padding: 10px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 18px;
}

/* Style the active class, and buttons on mouse-over */
.active{
  background-color: forestgreen;
  color: white;
}

td {
    padding: 2px;
}

div {
  padding: 5px;
}

img {
  width: 100%;
  max-width: 500px;
}
